a {
    text-decoration: none;
    color: #000;
}

.toolbarBtns ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.toolbarBtns {
    float:right;
}

th.listPrAreaName {
    width:180px; 
    text-align: left;
    border: 1px solid #888;
    font-size: 18px;
    color: #4f4e4c;
}

th.listPrAreaFac {
    width:150px; 
    text-align: left;
    border: 1px solid #888;
    font-size: 18px;
    color: #4f4e4c;
}

td.vedHeaders {
    font-weight: bold;
    width: 180px;
    color: #4f4e4c;
    font-size: 16px;
    margin-left: 50px;
}
td.vedOutput {
    font-weight: normal;
}

td.prEach1,td.prEach2 {
    width:200px; 
    text-align: left;
    border-bottom: 1px solid #ccc;
}

td.prEach3,td.prEach5 {
    width:150px; 
    text-align: left;
    border-bottom: 1px solid #ccc;
}

td.prEach4 {
    width:100px; 
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tr.field {
    position: relative;
    margin: 5px 0;
    padding: 5px 20px;
    width: 350px;
    color: #4f4e4c;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 10px;
}

td.fieldForm {
    font-size: 16px;
}

.optlinks{
    height: 50px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-left: -30px;
}
.optlinks a{
    margin-left: 8px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.optlinks a:hover {
    background-color: #ccc;
    color: #000;
    font-size: 14px;
}

.menu {
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 450px;
}

.logInOut{
    float: right;
    display: inline-block;
}

input[type="text"] {
    width:300px; 
    height:30px; 
    margin-top:3px; 
    margin-bottom:10px; 
    margin-left:20px;
}

input[type="number"] {
    width:300px; 
    height:30px; 
    margin-top:3px; 
    margin-bottom:10px; 
    margin-left:20px;
}

input[type="password"] {
    width:300px; 
    height:30px; 
    margin-top:3px; 
    margin-bottom:10px; 
    margin-left:20px;
}

input[type="button"] {
    width:140px; 
    height:35px; 
    margin-left:20px; 
}

#loginbtn {
    width:140px; 
    height:35px; 
    margin-left:20px; 
}

#fgtPass {
    margin-top: 10px;
}

button[type="submit"] {
    width:160px; 
    height:40px; 
    margin-top:3px; 
    margin-bottom:10px;
    margin-right: 30px;
    cursor: pointer;
}

.optlinksBtm {
    margin-top:30px;
    margin-left: 75px;
    float:left;
}

.optlinksBtm a{
    margin-right: 13px;
    color: #333;
}

.homeBtnBtm {
    margin-top: 15px;
    float:right;
}

#createPro {
    margin-top: -130px;
    margin-left: -1px;
    font-size: 15px;
    height: 40px;
}

.editProperty {
    background-color: #fed18d;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 13px;
    margin-top: 30px;
}

.viewProperty {
    background-color: #85db9c;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 13px;
    margin-top: 30px;
    width: 144px;
}

.delLink {
    background-color: #f88b77;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 13px;
    margin-top: 30px;
    width: 155px;
}

.editLinksbot {
    margin-left: 157px;
    margin-top: 20px;
}

.editLinksbotOwner {
    margin-left: 130px;
    margin-top: 20px;
}